.divinfo{
    -webkit-box-shadow: 5px 13px 15px -7px #000000; 
    box-shadow: 5px 5px 10px -7px #000000;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 9pt;
    padding: 20px;
    border: 1px solid #EFF1F2;
}